@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.container {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.left-section {
  width: 20%;
  background-color: rgb(74, 73, 73);
  color: aliceblue;
  padding: 25px 25px 25px 25px;
  justify-content: center;
  align-items: center;
}

.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(213, 222, 219);
}
.right-top {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid rgb(10, 9, 9);
}

.image-container {
  text-align: center;
}
img {
  max-width: 100%;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}
.about-me {
  border-bottom: 1px solid rgb(236, 231, 231);
}

.my-name {
  width: 35%;
}
.my-info {
  width: 65%;
  margin-left: 30px;
}
.work-exp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
}
.company-detail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(10, 9, 9);
}
.company {
  width: 25%;
  padding: 5px;
}
.details {
  width: 75%;
  padding: 5px 5px 5px 20px;
  border-left: 1px solid rgb(10, 9, 9);
}
.education {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}
