@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Kanit");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'kanit';
  /* height: fit-content; */
}

#root{
  background-color: black;
}


